/* Global Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* Body and Background */
  body {
    background-color: var(--bg);
    color: var(--text);
    overflow-x: hidden;
    overflow-y: scroll; /* Prevent horizontal scroll */
    scroll-behavior: smooth;
  }
  
  /* CSS Variables */
  :root {
    color-scheme: light dark;
            --span: light-dark(#e8e6e6, #4b4a4a);
            --spanHover: light-dark(#c7c7c7, #888686);
            --text: light-dark(#000000, #ffffff); /* done */
            --bg: light-dark(#fffdfd, #000000); /* done */
            --bgCard: light-dark(#fbfafa, #222222); /* done */
            --icon: light-dark(#000000, #ffffff); /* done */
            --iconHover: light-dark(#888686, #888686); /* done */
            --shadowNav: light-dark(#121212, #ffffff1a); /* done */
            --shadowCard: light-dark(#c9c9c9, #000000d3); /* done */
            --shadowCardhover: light-dark(#5b5a5a, #c0babad3); /* done */
            --bgFooter: light-dark(#f0f0f0, #222222); /* done */
            --cardBody: light-dark(#000000, #ffffff); /* done */
  }
  
  /* Header */
  header {
    width: 100%;
    background-image: url(photos/giphyTWo.webp);
    background-size: cover;
    background-position: center;
    margin-top: 0px;
    color: white;
  }
  span1{
    background-color: black;
    color: white;
    border-radius: 20px 0 0 20px;
    padding: 2px;
    transition: 0.5s;
  }
  span2{
    background-color: white;
    color: black;
    border-radius: 0 20px 20px 0 ;
    padding: 2px;
    transition: 0.5s;
  }
  span1:hover{
    background-color: white;
    color: black;
  }
  span2:hover{
    background-color: black;
    color: white;
  }

  /* Navigation */
  nav {
    background-color: var(--bg);
    box-shadow: 0 2px 5px var(--shadowNav);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
    text-align: center;
  }
  
  /* Icon Styles */
  #icon {
    font-size: 20px;
    color: var(--icon);
  }
  #icon:hover{
    color: var(--iconHover);
  }
  .hand{
    font-family: "Lacquer", system-ui;
  font-weight: 400;
  font-style: normal;
  /* font-size: 50px; */
  }
  .hand1{
    font-family: "Anton", sans-serif;
  font-weight: 400;
  font-style: normal;
  }
  .hand3{
    font-family: "Zilla Slab", serif;
  font-weight: 200;
  font-style: normal;
  }
  .card-text{
    font-family: "M PLUS Rounded 1c", sans-serif;
  font-weight: 400;
  font-style: normal;
  }
  
  /* Row and Container */
  .row {
    margin: auto;
    padding: 20px;
    display: flex;
    flex-wrap: wrap; /* Allow wrapping of cards */
  }
  
  .container {
    padding: 20px;
    margin: auto;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    transition: 0.1s;
  }
  .container:hover{
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.344);
  }
  /* Image Container (Circular Image with Animation) */
  .image-container {
    position: relative;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background: conic-gradient(black, white, black, white);
  }
  
  /* Media Query for Smaller Screens */
  @media (max-width: 768px) {
    .image-container {
        width: 150px;
        height: 150px;
    }
  
    .round-image {
        width: 85%;
        height: 85%;
    }
  }
  
  @media (max-width: 480px) {
    .image-container {
        display: none;
        width: 100px;
        height: 100px;
    }
  
    .round-image {
        width: 80%;
        height: 80%;
    }
  }
  
  /* Round Image with Hover Animation */
  .round-image {
    position: absolute;
    width: 90%;
    height: 90%;
    border-radius: 50%;
    object-fit: cover;
    transition: transform 0.3s ease;
  }
  
  /* Rotate on Hover */
  /* .image-container:hover .round-image {
    animation: rotateImage 2s linear infinite;
  }
  
  @keyframes rotateImage {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
  }
   */
  /* Technology Section */
  .tech {
    padding: 20px;
  }
  /* 
  font-family: "Geist Mono", monospace;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  */
  span{
    background-color: var(--span);
    padding: 5px 10px;
    border-radius: 20px;
    font-size: 12px;
    font-family: "Geist Mono", monospace;
    
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "ROND" 0;
  transition: 0.5s;
  }
  span:hover{
    background-color: var(--spanHover);
    color: var(--text);
  }
  
  /* Card Styles */
  .card {
    margin: 20px;
    background-color: var(--bgCard);
  }
  .card-body{
    color: var(--cardBody);
  }
  
  .card a i{
    background-color: var(--span);
    padding: 5px 10px;
    border-radius: 50px;
    font-size: 12px;
    color: var(--text);
    font-weight: bold;
    margin-top: 20px;
  }
  
  /* Flexbox for Centering Cards */
  .row {
    display: flex;
    justify-content: center;
    flex-wrap: wrap; /* Allow wrapping of cards */
  }
  
  .card {
    box-shadow: 0 2px 5px var(--shadowCard);
    margin: 10px;
    transition: 0.1s;
    background-color: var(--bgCard);
  }
  .card:hover{
    box-shadow: 0 2px 5px var(--shadowCardhover);
  }
  
  @media (max-width: 768px) {
    .card {
        flex: 1 0 45%;
    }
  }
  
  @media (max-width: 480px) {
    .card {
        flex: 1 0 90%;
    }
  }
  /* footer */
  footer{
    text-align: center; 
    padding: 20px; 
    color: var(--text);
    background-color: var(--bgFooter);
  }